:root {
    --primaryColor: hsl(26, 93%, 50%);
    --hoverColor: hsl(26, 90%, 42%);
    --whiteColor: hsl(0, 100%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --whiteColorDem: hsl(0, 0%, 93%);
    --grayBg: hsl(0, 0%, 96%);
    --grayText: rgb(190, 190, 190);
    --inputColor: hsl(332, 13%, 29%);
}

.about {
    .secContainer {
        .title {
            text-align: center;
            color: var(--blackColor);
            font-size: 1.5rem;
            padding-bottom: 2rem;
            line-height: 1.5rem;
        }

        .mainContent {
            gap: 1rem;

            .singleItem {
                text-align: center;

                img {
                    background: rgb(247, 145, 54, 0.265);
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    padding: .25rem;
                }

                h3 {
                    padding: .5rem;
                    font-weight: 700;
                    color: var(--blackColor);
                }

                p {
                    font-size: 13px;
                    font-weight: 500;
                    padding: .5rem;
                    color: var(--textColor);
                }
            }
        }

        .video-cart {
            margin-top: 2rem;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.609)), url('');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;

            .cart-content {
                gap: 2rem;
                padding: 2rem 1rem;

                .cart-text {
                    h2 {
                        color: var(--whiteColor);
                        font-weight: 600;
                        padding-bottom: 1rem;
                    }

                    p {
                        color: var(--whiteColor);
                        opacity: .7;
                        font-size: 12px;
                        font-weight: 400;
                        letter-spacing: 1px;
                    }
                }
            }

            .cart-video {
                border: 2px solid var(--whiteColor);
                height: 200px;
                width: 100%;
                border-radius: 10px;
                overflow: hidden;

                video {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

@media (min-width:720px) {
    .about {
        .secContainer {
            .video-cart {
                .cart-content {
                    gap: 4rem;
                    padding: 4rem 3rem;

                    .cart-text {
                        h2 {
                            font-size: 2rem;
                        }

                        p {
                            font-size: 15px;
                            opacity: .7;
                        }
                    }
                }

                .cart-content {
                    grid-template-columns: repeat(2, 1fr) !important;
                }
            }
        }
    }
}

@media (min-width:1420px) {
    .about {
        .secContainer {
            .mainContent {
                padding: 2.5rem 0;
            }
        }
    }
}