:root {
    --primaryColor: hsl(26, 93%, 50%);
    --hoverColor: hsl(26, 90%, 42%);
    --whiteColor: hsl(0, 100%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --whiteColorDem: hsl(0, 0%, 93%);
    --grayBg: hsl(0, 0%, 96%);
    --grayText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12, 37%);
}

.home {
    height: 80vh;
    background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522)), url('../../Assets/yogi.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;

    .secContainer {
        .homeText {
            text-align: center;
            padding-bottom: 5rem;

            .title {
                color: var(--whiteColor);
                font-size: 2rem;
                font-weight: 700;
                line-height: 2.5rem;
            }

            .subtitle {
                color: var(--whiteColor);
                font-size: 13px;
                opacity: .9;
                font-weight: 300;
                padding: 1rem 0;
                max-width: 70%;
                text-align: center;
                margin: auto;
            }

            .btn {
                padding: .6rem 1.5rem;
            }

        }

        .homeCart {
            width: 80%;
            border-radius: 1rem;
            padding: 2rem;
            background: var(--whiteColor);
            position: absolute;
            gap: 1rem;
            justify-content: center;
            bottom: -35%;
            left: 50%;
            transform: translate(-50%);
            box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);

            .locationDiv,
            .priceDiv,
            .distDiv {
                width: 100%;

                label {
                    display: block;
                    color: var(--textColor);
                    font-size: 13px;
                    font-weight: 500;
                    padding-bottom: .4rem;
                }

                input {
                    width: 100%;
                    background: var(--grayBg);
                    border-radius: 10px;
                    border: none;
                    padding: 10px;
                    font-size: 13px;
                    font-weight: 500;

                    &::placeholder {
                        font-size: 13px;
                        font-weight: 400;
                        opacity: .5;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }

            .btn {
                width: 100%;
                padding: .5rem 1.5rem;
                color: var(--whiteColor);
                font-weight: 600;
            }
        }
    }
}


@media (min-width:480px) {
    .home {
        .secContainer {
            .homeCart {
                bottom: -100px;
                width: 90%;
                grid-template-columns: repeat(2, 1fr);

                .btn {
                    transform: translateY(15px);
                }
            }
        }
    }
}

@media (min-width:556px) {
    .home {
        .secContainer {
            .homeText {
                .title {
                    font-size: 2.5rem;
                }

                .subtitle {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (min-width:720px) {
    .home {
        .secContainer {
            .homeCart {
                bottom: -10%;
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}

@media (min-width:720px) {
    .home {
        .secContainer {
            .homeText {
                padding: 1rem 10rem;

                .title {
                    font-size: 3.5rem;
                    margin: auto;
                    line-height: 4rem;
                }

                .subtitle {
                    width: 70%;
                }
            }
        }
    }
}

@media (min-width:1024px) {
    .home {
        .secContainer {
            .homeText {
                .subtitle {
                    font-size: 20px;
                }
            }

            .homeCart {
                width: 70%;
            }
        }
    }
}